html {
	background-color: #edeff1;
	position: relative;
}

body {
	background-color: #edeff1;
	overflow: hidden;
}

.tab-container {
	margin-top: 0.325rem;
	position: relative;
	z-index: 1;
	height: 1.3rem;
	background-color: #35383f;
}

.tab-header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	border-bottom: 0.025rem solid #99999a;
}

.overlay {
	height: 0.25rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #edeff1;
	z-index: 2;
}

.tab-header li {
	float: left;
	width: 33.3333333%;
	padding: 0.4rem 0;
	border: 0.025rem solid #99999a;
	border-bottom: 0;
	border-radius: 0.125rem;
	text-align: center;
	font-size: 0.375rem;
	color: #333333;
	box-sizing: border-box;
	background-color: #edeff1;
	z-index: 3;
}

.tab-header li:first-child,.tab-header li:nth-child(2),.tab-header li:nth-child(3) {
	border-right: 0;
}

.tab-header li:first-child {
	border-left: 0;
	border-radius: 0.125rem 0.125rem 0.125rem 0;
}

.tab-header li:nth-child(2) {
	border-left: 0;
	border-radius: 0.125rem 0.125rem 0 0;
}

.tab-header li:nth-child(3) {
	border-radius: 0.125rem 0.125rem 0 0.125rem;
}

.tab-header .active {
	background-color: #35383f;
	color: #fff;
}

.search {
	position: relative;
	background-color: #35383f;
	padding: 0.15rem 0 0.15rem 0.42rem;
}

.search p {
	display: inline-block;
}

.search p input {
	width: 7.0rem;
	height: 0.8rem;
	padding-left: 0.35rem;
	border-radius: 0.4rem;
	line-height: 0.8rem;
	font-size: 0.35rem;
	border: none;
}

.search-icon {
	position: absolute;
	top: 50%;
	right: 1.0rem;
	margin-top: -0.225rem;
	width: 0.525rem;
	height: 0.45rem;
	margin-right: 0.35rem;
}

.back-icon {
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	top: 50%;
	right: 0.55rem;
	margin-top: -0.2rem;
}

.item-container {
	margin: 0.375rem 0.375rem 0;
}

.item-container ul {
	display: none;
}

.item-container ul.active {
	display: block;
}

/* 咨询师伙伴 */
.item-container ul:first-child {
	width: 100%;
}

.item-container ul:first-child li {
	margin-right: 0.275rem;
	float: left;
	font-size: 0.35rem;
	color: #333;
	box-sizing: border-box;
}

.item-container ul:first-child li.margin {
	margin-right: 0;
}

.img-container {
	position: relative;
}

.img-container a {
	text-decoration: none;
	color: #333;
}

.item-container ul:first-child li p {
	margin-bottom: 0.25rem;
	margin-top: 0.1rem;
}

.item-container ul:first-child li p:nth-child(2) {
	margin-top: 0;
}

.item-container ul:first-child li img:first-child {
	width: 2.9rem;;
	height: 2.9rem;
}

.item-container ul:first-child li img:nth-child(2) {
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	right: 0;
	top: 0;
}
 

/* 案例与资料 */
.item-container ul:nth-child(2) li {
	position: relative;
	width: 100%;
	padding: 0.15rem;
	margin-bottom: 0.15rem;
	background-color: #fff;
	box-sizing: border-box;
}

.item-container ul:nth-child(2) li a {
	text-decoration: none;
}

.item-container ul:nth-child(2) li a>span {
	float: left;
	display: inline-block;
	width: 0.65rem;
	height: 0.65rem;
	line-height: 0.65rem;
	border-radius: 50%;
	color: #fff;
	font-size: 0.375rem;
	text-align: center;
}

.blue {
	background-color: #4393d0;
}

.green {
	background-color: #39a1aa;
}

.item-container ul a {
	text-decoration: none;
}

.item-container ul:nth-child(2) li h2 {
	margin-top: 0.09rem;
	margin-left: 0.925rem;
	font-size: 0.375rem;
	color: #333;
}

.item-container ul:nth-child(2) li img {
	width: 0.375rem;
	height: 0.5rem;
	float: right;
	margin-right: 0.2rem;
	margin-top: 0.15rem;
}

.item-container ul:nth-child(2) li p {
	font-size: 0.35rem;
}

.item-container ul:nth-child(2) li p {
	position: absolute;
	right: 1.6rem;
	bottom: 0.125rem;
	color: #666666;
}

.item-container ul:nth-child(2) li p span {
	margin-left: 0.25rem;
}

/* 需求与合作 */
.item {
	display: block;
	padding: 0.25rem 0.375rem;
	background-color: #fff;
	margin-bottom: 0.175rem;
	position: relative;
}

.item>span {
	display: inline-block;
	float: left;
	padding: 0.225rem 0.1rem;
	background-color: #62c4ef;
	color: #fff;
	border-radius: 0.125rem;
	font-size: 0.35rem;
	font-weight: bold;
}

.item .industry {
	margin-left: 1.25rem;
}

.industry p:first-child {
	font-size: 0.35rem;
	font-weight: bold;
	margin-bottom: 0.15rem;
	color: #333;
}

.item-container .demand {
	text-decoration: none;
}

.industry p:nth-child(2) {
	font-size: 0.325rem;
	color: #858585;
}

.payment {
	position: absolute;
	top: 0;
	right: 0.125rem;
	line-height: 0.6rem;
	height: 0.6rem;
}
.payment span {
	font-size: 0.325rem;
	color: #858585;
}

.payment img,.no-payment img {
	width: 0.275rem;
	height: 0.375rem;
	float: left;
	margin-top: 0.125rem;
	margin-right: 0.1rem;
}

.no-payment {
	position: absolute;
	top: 0;
	right: 1.1rem;
	line-height: 0.6rem;
	height: 0.6rem;
}

.item>p {
	position: absolute;
	bottom: 0.25rem;
	left: 4.9rem;
	font-size: 0.35rem;
	color: #333333;
}

.load>p {
	font-size: 0.325rem;
	color: #3f4040;
	text-align: center;
}

.load>p span {
	font-family: Arial;
}

.load {
	margin-top: 2.5rem;
}

.shade {
	display: none;
	height: 17.7rem;
	position: absolute;
	top: 2.73rem;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #6e7071;
}

.modal {
	position: absolute;
	top: 0.8rem;
	left: 0.4rem;
	right: 0.4rem;
	background-color: #fff;
	border-radius: 0.125rem;
}

.modal h2,.yeild-list,.city-list,.industry-list,.modal p {
	padding-left: 0.325rem;
}

.modal h2 {
	margin: 0.35rem 0;
	font-size: 0.35rem;
	color: #5c5c5c;
}

.city-list {
	margin: 0.375rem 0;
}

.city-list li {
	float: left;
	margin-right: 0.375rem;
}

.city-list li span {
	display: inline-block;
	width: 1.3rem;
	padding: 0.125rem 0;
	font-size: 0.35rem;
	color: #5c5c5c;
	border: 0.025rem solid #bfbfbf;
	text-align: center;
	border-radius: 0.125rem;
}

.city-list li .active {
	border: 0.025rem solid #77ccf3;
	color: #77ccf3;
}

.yeild-list {
	margin: 0.425rem 0;
}

.yeild-list li {
	float: left;
	margin-right: 0.25rem;
	margin-bottom: 0.35rem;
}

.yeild-list li.delete {
	margin-bottom: 0;
}

.yeild-list li span {
	display: inline-block;
	width: 1.76rem;
	border-radius: 0.125rem;
	padding: 0.125rem 0;
	font-size: 0.35rem;
	color: #5c5c5c;
	border: 0.025rem solid #bfbfbf;
	text-align: center;
}

.yeild-list li .active {
	border: 0.025rem solid #77ccf3;
	color: #77ccf3;
}

.industry-list {
	margin: 0.375rem 0;
}

.industry-list ul:first-child {
	float: left;
	margin-top: 0.1rem;
}

.industry-list ul:first-child li {
	margin-bottom: 0.62rem;
	font-size: 0.35rem;
	color: #5c5c5c;
}

.industry-list ul:first-child li:last-child {
	margin-bottom: 0;
}

.industry-list ul:first-child li:nth-child(2) {
	margin-left: 0.68rem;
}

.industry-list ul:first-child li:nth-child(3) {
	margin-left: 0.35rem;
}

.industry-list ul:nth-child(2) {
	margin-left: 1.8rem;
}

.industry-list ul:nth-child(2) li {
	float: left;
	margin-right: 0.2rem;
	margin-bottom: 0.325rem;
}

.industry-list ul:nth-child(2) li.remove {
	margin-bottom: 0;
}

.industry-list ul:nth-child(2) li span {
	display: inline-block;
	padding: 0.125rem;
	width: 1.15rem;
	text-align: center;
	border-radius: 0.125rem;
	border: 0.025rem solid #bfbfbf;
}

.industry-list ul:nth-child(2) li span.active {
	border: 0.025rem solid #77ccf3;
	color: #77ccf3;
}

.line {
	border-top: 0.025rem solid #bfbfbf;
}

.bold {
	border-top: 0.075rem solid #f6f6f6;
}

.modal>p {
	font-size: 0.35rem;
	color: #5c5c5c;
	margin: 0.3rem 0 0.75rem;
}

.modal>p input {
	width: 5.5rem;
	padding-left: 0.2rem;
	margin-left: 0.05rem;
	margin-right: 0.125rem;
	border: none;
	border: 0.025rem solid #bfbfbf;
	border-radius: 0.125rem;
	height: 0.75rem;
	line-height: 0.75rem;
	font-size: 0.35rem;
}

.modal>p a {
	display: inline-block;
	width: 1.35rem;
	height: 0.75rem;
	line-height: 0.75rem;
	border-radius: 0.125rem;
	font-size: 0.35rem;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #00a0e9;
}

@media only screen and (min-height: 820px) and (max-height: 824px) {
	.modal {
		top: 0.8rem;
	}
}

@media only screen and (min-height: 810px) and (max-height: 813px) {
	html,body {
		height: 100%;
	}

	.modal {
		top: 1.4rem;
	}

	.shade {
		height: 18.89rem;
	}
}

@media only screen and (min-height: 735px) and (max-height: 738px) {
	.modal {
		top: 0.9rem;
	}
}

@media only screen and (min-height: 730px) and (max-height: 732px) {
	.modal {
		top: 0.8rem;
	}
}

@media only screen and (min-height: 630px) and (max-height: 645px) {
	.shade {
		height: 17.86rem;
	}
}

@media only screen and (min-height: 560px) and (max-height: 570px) {
	.shade {
		height: 17.88rem;
	}
}