html {
	height: 100%;
}

.container {
	position: relative;
	padding-bottom: 2.55rem;
	min-height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	height: 100%;
}

.header-container {
	padding-top: 0.25rem;
	background-color: #edeff1;
}

.header>p {
	padding: 0.275rem 0.375rem;
	background-color: #4b5258;
	font-size: 0.4rem;
	color: #fff;
}

.information-box {
	padding: 0.25rem 0.375rem;
	background-color: #edeff1;
}

.information {
	background-color: #fff;
	padding: 0.25rem 0.25rem;
}

.information .introduction {
	display: inline-block;
	border-bottom: 0.025rem solid #333333;
	color: #333333;
}

.information .item {
	margin-bottom: 0.425rem;
	font-size: 0;
}

.information .item span {
	font-size: 0.4rem;
	font-weight: bold;
	color: #333333;
}

.item>span:first-child {
	margin-right: 0.225rem;
}

.information .item .introduction {
	font-weight: normal;
}

.information .item input {
	border: none;
	border-bottom: 1px solid #333333;
	font-size: 0.4rem;
	width: 2.25rem;
}

.information .item .alignment {
	width: 3.09rem;
}

.information .item  img {
	width: 0.27rem;
	height: 0.2rem;
	margin-left: 0.15rem;
}

.resume-container {
	padding: 0.25rem 0.375rem;
	padding-top: 0;
	background-color: #edeff1;
}

.resume {
	background-color: #fff;
	padding: 0.25rem 0.25rem;
	padding-bottom: 0.625rem;

}

.resume .education {
	margin-bottom: 0.625rem;
}

.resume .education span, .resume .experience span {
	font-size: 0.4rem;
	color: #333333;
	float: left;
	font-weight: bold;
}

.resume .education p, .resume .experience p {
	font-size: 0.4rem;
	margin-left: 1.925rem;
	margin-bottom: 0.25rem;
}

.spacing-container {
	padding-bottom: 0.25rem;
	background-color: #edeff1;
}

.spacing {
	height: 0.25rem;
	background-color: #fff;
}

.test-title>p {
	padding: 0.275rem 0.375rem;
	background-color: #4b5258;
	font-size: 0.4rem;
	color: #fff;
}

.verification {
	padding: 0.375rem 0 0.4rem 0.375rem;
	background-color: #edeff1;
	font-size: 0;
}

.verification span {
	font-size: 0.375rem;
	margin: 0 0.1rem;
}

.verification input {
	border: none;
	background-color: #fff;
	height: 0.7rem;
	padding-left: 0.1rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 0.375rem;
}

.verification form input:nth-child(2) {
	width: 2.6rem;
}

.verification form input:nth-child(4) {
	width: 1.7rem;
	margin-right: 0.15rem;
}

.verification form a {
	display: inline-block;
	height: 0.65rem;
	line-height: 0.65rem;
	border: 0.025rem solid #7d7d7d;
	color: #3f4040;
	padding: 0 0.1rem;
	text-decoration: none;
	font-size: 0.375rem;
}

.submit-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	padding: 0.775rem 0 0.825rem;
	width: 100%;
}

.submit-btn .button-container {
	margin: 0 1.0rem;
}

.submit-btn button {
	padding: 0.325rem 0 0.275rem;
	background-color: #35383f;
	text-align: center;
	color: #fff;
	border: none;
	display: block;
	width: 100%;
	border-radius: 0.15rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width:  100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.modal {
	width: 8.7rem;
	padding: 0.625rem 0.4rem 0.525rem;
	position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal h2 {
	font-size: 0.45rem;
	text-align: center;
	margin-bottom: 0.45rem;
	color: #333333;
}

.modal p {
	line-height: 0.625rem;
	font-size: 0.375rem;
	color: #5c5c5c;
}

.modal p:nth-child(2) {
	margin-bottom: 1.625rem;
}

.modal a {
	text-decoration: none;
}

.modal span {
	display: inline-block;
	width: 1.85rem;
	padding: 0.2rem 0;
	position: absolute;
	left: 50%;
	bottom: 0.525rem;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	text-align: center;
	background-color: #35383f;
	border-radius: 0.15rem;
	color: #fff;
	font-size: 0.375rem;
	z-index: 6;
}

@media only screen and (min-height: 820px) and (max-height: 824px)  {
	.submit-btn {
	    bottom: 50px;
	}
}

@media only screen and (min-height: 800px) and (max-height: 814px){
	.submit-btn {
	    bottom: 70px;
	}
}